/*css varibles*/
:root {
  --opensans: 'Open Sans', sans-serif;
  
  /*colours*/
  --red: #D13B3B;
  --blue: #4867AA;  
}
* {
   box-sizing: border-box;
}

body {
    font-family: var(--opensans);
    background-color: var(--blue);
}

  