/*css varibles*/

:root {
  --opensans: 'Open Sans', sans-serif;
  /*colours*/
  --red: #D13B3B;
  --blue: #4867AA;
  --darkgray: #333;
  --white: #fff;
}

body {
  font-family: var(--opensans);
}

.hm-register {
  position: relative;
  display: block;
}

.hm-register .container-fluid {
  padding: 0;
}
.hm-register .hm-col1 {
  position: relative;
  display: flex;
  background-image: url(../../assets/images/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
  align-items: flex-end;
  /* height: 100%; */
}

.hm-col2 {
  position: relative;
  background-color: var(--white);
  display: flex;
  height: 100vh;
}

.hm-col-wrap {
  position: relative;
  display: block;
  margin-right: 50px;
  margin-bottom: 92px;
}

.logoing-title {
  position: relative;
  display: block;
}

.logoing-title h1 {
  font-size: 33px;
  font-weight: 700;
  color: var(--white);
}

.hmlogo {
  position: relative;
  display: block;
  margin-bottom: 33px;
  text-align: right;
}

.hm-register .hm-col2 {
  position: relative;
  background-color: var(--white);
  /* background-image: url(../../assets/images/logo-gray.png); */
  background-repeat: no-repeat;
  background-position: 121% -9%;
  display: block;
  padding: 0 70px 70px 70px;
  height: auto;
}

.login-form-wrap {
  position: relative;
  display: block;
  margin-top: 155px;
}

.login-form-wrap h2, .register-form-wrap h2 {
  color: #464B4E;
  margin-bottom: 32px;
  font-size: 33px;
  font-weight: 700;
}

.loginbtn {
  background-color: var(--red);
  border: 0;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  color: var(--white);
  width: 100%;
  height: 54px;
}

.loginbtn:hover {
  background-color: var(--darkgray);
}

.form-control {
  box-shadow: 0px 0px 6px #00000029;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  min-height: 44px;
}

.l-form {
  position: relative;
  display: block;
  max-width: 490px;
}

.l-form .form-label {
  font-size: 15px;
  font-weight: 600;
  color: #4E4B4B;
}

.l-form .form-check-label {
  font-size: 15px;
  font-weight: 400;
  color: #313030;
  margin-left: 5px;
}

.l-form .form-check {
  line-height: 23px;
  margin-bottom: 50px;
}

.seperator {
  color: #020202;
  margin: 17px 0;
  border-top: 1px solid #7070704f;
}

.no-accont {
  position: relative;
  display: block;
  margin-top: 33px;
  text-align: center;
  padding: 0 48px;
}

.no-accont p {
  font-size: 14px;
  line-height: 29px;
  color: #313030;
}

.no-accont p a {
  font-weight: 700;
  color: #0087D3;
}

.login-fb {
  position: relative;
  display: block;
  width: 100%;
  background-color: var(--blue);
  background-image: url(../../assets/images/fblogin.png);
  background-repeat: no-repeat;
  font-weight: 600;
  background-position: 26% center;
  font-size: 16px;
  height: 50px;
}
.terms {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
.terms p{
  font-size: 13px;
  line-height: 18px;
  color: #313030;

}
.terms p a{
 font-weight: 600;
}
.register-form-wrap{
  position: relative;
  display: block;
  padding-top: 88px;
}